/* Увеличиваем базовый шрифт всей презентации */
.reveal {
  font-size: 30px;          /* было 28px по умолчанию */
}

/* Основной текст и списки */
.reveal p,
.reveal li {
  font-size: 0.9em;          /* немного уменьшаем относительно нового базового */
}

/* Заголовки */
.reveal h1 {
  font-size: 2.2em;
}
.reveal h2 {
  font-size: 1.8em;
}
.reveal h3 {
  font-size: 1.4em;
}
